@charset "utf-8";

/***************/
/** GENERALES **/
/***************/

body {
    margin: 0px;
    background: #000 url(../imgs/ni_bck.jpg) top center no-repeat;
    color: #d7e0bc;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #b7e771;
    text-decoration: underline;
}

p {
    margin: 0px; /* Hack anti disparition de background */
    padding: 25px 0px 15px 0px;
}

h2 {
    color: #b7e771;
    font-size: 15px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
}

h5 {
    display: inline;
}

.pink {
    color: #d92471;
    text-decoration: underline;
}

.separateur {
    background: url(../imgs/man_sep.png);
    height: 1px;
    width: 618px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.txt_white {
    color: white;
}

.clearboth {
    clear: both;
}

#ni_wrap {
    width: 994px;
    margin: 0px auto 50px auto;
}

.quicktrans {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

/**********/
/** MENU **/
/**********/

#ni_menu {
    background: url(../imgs/menu_bck.png) top center no-repeat;
    width: 994px;
    height: 61px;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 21px;
    list-style: none;
}

#ni_menu:hover {
    background-position: 0px -4px;
}

#ni_menu a {
    text-decoration: none;
}

.itm_cont {
    width: 122px;
    height: 61px;
    float: left;
    display: block;
    background-image: url(../imgs/menu_hover.png);
    background-repeat: no-repeat;
    background-position: 3px -61px;
    /* On réduit la height plus vite que la bckg-pos pour éviter bug d'affichage */
    -webkit-transition: background-position .25s ease-in-out, height .20s ease-in-out;
    -moz-transition: background-position .25s ease-in-out, height .20s ease-in-out;
    -o-transition: background-position .25s ease-in-out, height .20s ease-in-out;
    transition: background-position .25s ease-in-out, height .20s ease-in-out;
    padding-top: 2px;
}

.itm_cont a {
    text-decoration: none;
}

.itm_side {
    width: 192px;
    height: 24px;
    float: left;
    display: block;
}

.txt_menu_effect {
    text-shadow: rgba(0, 0, 0, 0.6) 2px 4px 5px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in;
    -o-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.itm_cont:hover {
    background-position: 3px 0px;
    cursor: pointer;
}

.itm_cont:hover .txt_menu_effect,
.txt_menu_effect:hover {
    color: #ff2d8e;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

/*.itm_cont:active .txt_menu_effect {*/
/*color: #ff3399;*/
/*-webkit-transform: rotate(4deg); */
/*-moz-transform: rotate(4deg);*/
/*transform: rotate(4deg);*/
/*}*/

.itm1 {
    color: #c6ec8e;
}

.itm2 {
    color: #b3db77;
}

.itm3 {
    color: #a3cd64;
}

.itm4 {
    color: #b3db77;
}

.itm5 {
    color: #c6ec8e;
}

/*************/
/**** TOP ****/
/*************/

/*** ALICE ***/

#alice {
    height: 340px;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 200px;
    overflow: visible;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.n1, .n2, .n3, .n4, .n5, .n6, .n7, .n8, .n9, .n10, .n11, .n12, .n13 {
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 1.2s cubic-bezier(.69,.23,.85,.39);
    -moz-transition: all 1.2s cubic-bezier(.69,.23,.85,.39);
    -o-transition: all 1.2s cubic-bezier(.69,.23,.85,.39);
    transition: all 1.2s cubic-bezier(.69,.23,.85,.39);
}

.n1 {
    width: 17px;
    height: 12px;
    background-image: url('../imgs/alice/1.png');
    top: 7px;
    left: 88px;
}

.n2 {
    width: 12px;
    height: 12px;
    background-image: url('../imgs/alice/2.png');
    top: 5px;
    left: 106px;
}

.n3 {
    width: 44px;
    height: 19px;
    background-image: url('../imgs/alice/3.png');
    top: 15px;
    left: 96px;
}

.n4 {
    width: 13px;
    height: 7px;
    background-image: url('../imgs/alice/4.png');
    top: 15px;
    left: 123px;
}

.n5 {
    width: 15px;
    height: 11px;
    background-image: url('../imgs/alice/5.png');
    top: 73px;
    left: 84px;
}

.n6 {
    width: 100px;
    height: 61px;
    background-image: url('../imgs/alice/6.png');
    top: 59px;
    left: 54px;
}

.n7 {
    width: 46px;
    height: 15px;
    background-image: url('../imgs/alice/7.png');
    top: 77px;
    left: 66px;
}

.n8 {
    width: 78px;
    height: 38px;
    background-image: url('../imgs/alice/8.png');
    top: 87px;
    left: 105px;
}

.n9 {
    width: 76px;
    height: 47px;
    background-image: url('../imgs/alice/9.png');
    top: 121px;
    left: 67px;
}

.n10 {
    width: 116px;
    height: 39px;
    background-image: url('../imgs/alice/10.png');
    top: 138px;
    left: 55px;
}

.n11 {
    width: 123px;
    height: 66px;
    background-image: url('../imgs/alice/11.png');
    top: 158px;
    left: 46px;
}

.n12 {
    width: 123px;
    height: 80px;
    background-image: url('../imgs/alice/12.png');
    top: 186px;
    left: 32px;
}

.n13 {
    width: 120px;
    height: 152px;
    background-image: url('../imgs/alice/13.png');
    top: 183px;
    left: 65px;
}

#alice.eclatee .n1 {
    top: -13px;
    left: -25px;
}

#alice.eclatee .n2 {
    top: -22px;
    left: 156px;
}

#alice.eclatee .n4 {
    top: 0px;
    left: 190px;
}

#alice.eclatee .n5 {
    top: 103px;
    left: 0px;
}

#alice.eclatee .n7 {
    top: 58px;
    left: -47px;
}

#alice.eclatee .n8 {
    top: 61px;
    left: 244px;
}

#alice.eclatee .n9 {
    top: 176px;
    left: -162px;
}

#alice.eclatee .n10 {
    top: 117px;
    left: 143px;
}

#alice.eclatee .n11 {
    top: 202px;
    left: -86px;
}

#alice.eclatee .n12 {
    top: 115px;
    left: 268px;
}

#alice.eclatee .n13 {
    top: 280px;
    left: 14px;
}

/************/

#top_wrapper {
    width: 994px;
    height: 346px;
    position: relative;
}

#ni_logo {
    background: url(../imgs/ni_logo.png);
    height: 269px;
    width: 125px;
    position: absolute;
    top: 32px;
    left: 38px;
}

/****************/
/**** IMGBOX ****/
/****************/

#img_box {
    /*background: url(../imgs/imgbox_bck.png);*/
    height: 274px;
    width: 460px;
    position: absolute;
    top: 28px;
    left: 507px;
}

.slide-images .slide-image,
.slide-images .slide-image img {
    -moz-transition-duration: 1.5s;
    -webkit-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
}

.slide-images.transition-opacity .slide-image {
    opacity: 0;
    width: 0px;
}

.slide-images.transition-opacity .slide-image.current {
    opacity: 1;
    width: 460px;
}

.slide-images {
    position: relative;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.slide-images .slide-image {
    position: absolute;
}

.slide-images .slide-image.current img {
    z-index: 12;
}

.slide-images .slide-image.current span {
    z-index: 13;
}

.slide-images .slide-image img {
    z-index: 2;
}

.slide-images .slide-image span {
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    z-index: 3;
}

#demoSliderContainer .options {
    display: none;
}

#demoSliderContainer {
    overflow: auto;
    width: 460px;
    height: 274px;
}

#demoSlider {
    height: 272px;
    width: 458px;
    margin-top: 1px;
    margin-left: 1px;
}

#options {
    display: none;
}

#img_box #cache {
    background: url(../imgs/imgbox_cache.png) left center no-repeat;
    height: 274px;
    width: 460px;
    position: absolute;
    z-index: 2;
}

#img_box #pic {
    background: url(../imgs/pics/ni_scene.jpg); /* Cette image devra changer dynamiquement ! */
    height: 274px;
    width: 460px;
    position: absolute;
    z-index: 1;
    display: none;
}

/*************/
/** CONTENT **/
/*************/

#main_box {
    width: 700px;
    float: left;
    margin: -2px 0px 0px 5px;
}

div.post.singleColumnTemplate {
    position: relative;
}

.nws_time {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 9px;
    color: #bfbfbf;
    font-weight: normal;
}

#main_box #bx_top {
    height: 62px;
    width: 700px;
}

#bx_top.default {
    background: url(../imgs/niouzes_head.png);
}

#bx_top.le-groupe {
    background: url(../imgs/grpe_head.png);
}

#bx_top.concerts {
    background: url(../imgs/concert_head.png);
}

#bx_top.albums {
    background: url(../imgs/alb_head.png);
}

#bx_top.contact {
    background: url(../imgs/cntct_head.png);
}

#main_box #bx_body {
    background: url(../imgs/main_box_bck.png);
    width: 620px; /*(700-38-42)*/
    padding: 0px 38px 0px 42px;
    text-align: justify;
    overflow: auto;
}

#bx_body p {
    margin: 0px; /* Hack anti disparition de background */
    padding: 10px 0px 10px 0px;
}

#main_box #bx_bottom {
    background: url(../imgs/main_box_btm.png);
    height: 20px;
    width: 700px;
}

#rgt_col {
    width: 243px;
    float: left;
    margin-top: 11px;
    margin-left: 21px;
}

#a-area-9-body {
  width: 620px;
}

#cke_slot-form-9-body-2-value {
  width: auto;
}

/** RGT BOXES **/

.rgt_box_top {
    height: 35px;
}

.rgt_box_body {
    background: url(../imgs/rgtbox_body.png) bottom no-repeat;
    padding: 20px 20px 15px 10px;
    color: #f3ffe0;
    text-align: center;
    margin-bottom: 20px;
}

/** CONCERT BOX **/

#rgt_conc {
    background: url(../imgs/cncrt_head.png);
    height: 35px;
}

/** MUSIC BOX **/

#rgt_msc {
    background: url(../imgs/msc_head.png);
    height: 35px;
}

/** SOCIAL BOX **/

#rgt_scl {
    background: url(../imgs/scl_head.png);
    height: 35px;
}

.img_fb {
    margin-bottom: 14px;
    margin-top: 8px;
    border: none;
}

.img_mysp {
    border: none;
}

/************/
/** FOOTER **/
/************/

#ni_btm {
    width: 820px;
    margin: 60px auto 0px auto;
    text-align: center;
}

p.footer_txt {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    padding: 0px;
}

p.footer1 {
    margin: 0px 0px 15px 0px;
    color: #444c31;
}

p.footer2 {
    color: #292c23;
    margin: 0px;
}